{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
<div class="container">
    <!--titre -->
    <div class ="text-center">
        <hl>Gestion des voyages</hl>
    </div>
</div>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}